/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

/* Sidebar Styles */
.sidebar {
    width: 30%;
    background-color: #636060;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar h1 {
    font-size: 1.8rem;
    margin-bottom: 5px;
}

.sidebar p {
    font-size: 0.9rem;
    line-height: 1.5;
}

.sidebar h3 {
    font-size: 1.2rem;
    margin-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 5px;
}

.sidebar ul {
    padding-left: 0;
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 10px;
    font-size: 0.9rem;
}

/* Main Content Styles */
.main-content {
    width: 70%;
    padding: 20px 30px;
    overflow-y: auto;
}

.main-content h3 {
    font-size: 1.5rem;
    border-bottom: 2px solid #2c3e50;
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.main-content h5 {
    font-size: 1.2rem;
    color: #333;
}

.main-content p {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #555;
}

.main-content ul {
    padding-left: 20px;
    list-style: disc;
}

.main-content ul li {
    margin-bottom: 10px;
}

/* Footer Text Center */
.text-center p {
    margin-top: 20px;
    font-size: 1.2rem;
    color: #2c3e50;
    font-weight: bold;
}

.profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 15px;
}
